/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}


.wrapper {
    width: 20%;
    display: inline-block;
    padding: 1em;

}

.wrapper img {
    width: 60%;
}

.icon-container {
    border: solid 2px black;
    width: 55%;
    margin:  250px 0 250px 250px;
}