/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
    
}

body {
    font-family: Helvetica;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }

/* Header */


  .header { 
    border-bottom: 3px solid rgb(72, 72, 72);
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(175, 255, 228);
  }
  
  .title h1 {
    font-size: 58px;
    margin-right: 200px;
    display: inline-block;
    margin-top: 35px;
  }
  
 #logo {
  width: 5%;
  height: auto;
  margin-left: 50px;

 }
  
  
  .main-nav ul, 
  .main-nav li {
    margin: 0; 
    padding: 0;
  }
  
  .main-nav li {
    display: inline-block;
    margin: 50px 50px 50px 20px;
  }

  .main-nav ul {
    font-size: 30px;

  }

  .main-nav a:hover {
    color: rgb(255, 55, 55);
  }
  

/* Header Ends */ 


/* Footer */

.footer { 
  border-top: 3px solid rgb(72, 72, 72);
  margin-top: 150px;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(175, 255, 228);
  padding-top: 60px;
  padding-bottom: 30px;

}

.footer-nav ul, 
.footer-nav li {
  margin: 0; 
  padding: 0;
}

.footer-nav li {
  display: inline-block;
  margin: 50px 50px 50px 20px;
}

.footer-nav ul {
  font-size: 30px;

}

.footer-nav a:hover {
  color: rgb(255, 55, 55);
}

.copyright p {
  font-size: 15px;
  color: rgb(49, 49, 49);
  background-color: rgb(175, 255, 228);
  line-height: 2px;
  text-align: center;
  align-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

/* Footer Ends*/



#summary
{
  margin-bottom: 50px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;

}

h1
{
  display: flex;
  color: #000000;
  margin-bottom: 5px;
  justify-content: center;
  font-size:85px;
  align-content: flex-start;
  text-align: center;
  margin-top: 75px;

}

h2
{
  display: flex;
  font-size: 50px;
  color: rgb(255, 55, 55);
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

p
{
  line-height: 20px;
  text-align: center;
  align-content: flex-start;
  background: #fff;
  margin: 1px;
  padding: 5em;
}

  .icon-holder {
    width: 100%;
    margin: 0 auto; 
    text-align: center; 
  
  }

  .icon-holder2 {
    width: 100%; 
    margin: 0 auto; 
    text-align: center;
  
  }

  .wrapper {
    width: 10%; 
    display: inline-block; 
    padding: 1em; 
  
  }
  
  .wrapper img {
    width: 100%; 
  
  }

  .wrapper{
    align-content: center;
    justify-content: center;

  }

  .wrapper2 {
    width: 10%; 
    display: inline-block; 
    padding: 1em; 
  
  }
  .wrapper2 img {
    width: 100%; 
  
  }
  .wrapper2 {
    align-content: center;
    justify-content: center;

  }

  .logo {
    width: 8%; 
    display: inline-block; 
    padding: 1em; 
  
  }

  .logo img {
    width: 100%; 
  
  }

  .icon-con {
    border: solid black 2px;
    margin: 0  100px 0 100px;
  }