/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
    
}


#icon-container {
    border: solid 2px black;
    background-color: rgb(255, 178, 178);
    padding-top: 20px;
    align-items: center;
    position: relative;
    width: 100%;

}

#chart {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#discs {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#harddrive {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#matrix {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#nike {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#message {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#squar {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#circle {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#triangle {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#x {
    cursor: pointer;
    width: 100px;
    height: auto;
}
#square {
    cursor: pointer;
    width: 100px;
    height: auto;
}